@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');
html, body {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #1c1d1f;
}
.App-header{
  display: flex;
  justify-content: center;
}
.App-section{
  display: flex;
  justify-content: center;
}
.App-Int {
  display: flex;
  margin-top: 2em;
  justify-content: center;
}
.gerarCalc{
  border: none;
  height: 4em;
  width: 10em;
  font-size: 20px;
  background-color: #67a777;
  border-radius: 2em 4em 2em 4em;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}